/*product info*/

.product{
    margin-bottom: 3rem;
    padding: 4rem;
    height: fit-content;
    background-color: #f9f4ec;
    font-size: .9rem;
}

.product__Info {
    display: flex;
  
}

.image {
    width: 100px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    
  }

.subtotal {
    padding: 1rem 0;
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 1rem;
    justify-content: space-between;
}

/*styles for sign in*/
.profile { 
  margin: 12vh 0 34vh 10vw;
}

.signin {
  margin: 12vh 0 34vh 10vw;
}

.signin a {
  text-decoration: underline;
}


.button {
  width: 10rem;
  height: 2.5rem;
  margin-bottom: 3rem;
}

/*styles for shipping*/

.shipping {
  font-size: .9rem;
  margin: auto;
  text-align: center;
  width: 25rem;
  padding-bottom: 2rem;
}

.steps {
  text-align: left;
  padding-left: 1.5rem;
}

.shipping__Form {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}

.input {
  width: 65%;
  margin: .9rem;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

.contact {
  padding-left: 2.5rem;
}

.date {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-left: .5rem;
  margin-right: .5rem;
}

.method {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 1rem;

}

.shipping a {
  text-decoration: underline;
}


.pay__Button {
width: 10rem;
height: 2.5rem;
}


/*.shipping__Page {
  display: flex;
  flex-direction: row-reverse;
}*/

@media screen  and (min-width: 744px) {
  .shipping__Page {
      display: flex;
      flex-direction: row-reverse;
  }

  .product {
      width: 35%;
  }
  
}

/*order page*/
.order {
  text-align: center;
  padding-bottom: 2rem;
}

.check {
  padding-top: 4rem;
}

.text {
  width: 26rem;
  margin: auto;
}

.button {
  width: 10rem;
  height: 2.5rem;
}

.button__Back {
  width: 10rem;
  height: 2.5rem;
}

.print {
  text-decoration: underline;
}